@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);
@font-face {
  font-family:'.ArabicUIText';
  src: url('/assets/font/Arabic-Regular.ttf') format('truetype'),
       url(https://github.com/Ryosuke-420/Arabic-iOS-Font/blob/main/system/fonts/NotoNaskhArabic-Regular.ttf) format('truetype'),
}
*{
  font-family: 'Poppins',sans-serif;
}
[lang="ar"] {
  font-family: '.ArabicUIText', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.navbar{
  height:var(--primary-hight);
}
.navbar .level-nav-link.nav-link {
  padding: 28px;
  background-color: #f3f3f3;

}
.navbar .level-nav-link.nav-link {
    padding-right: var(--primary-padding);
    padding-left: var(--primary-padding);
}
.navbar .level-nav-link.nav-link:hover {
    background-color: var(--primary-color);
    color: #f3f3f3;
    cursor: pointer;
    border-radius: 20px;
}
@media(max-width:760px){
  .navbar .level-nav-link.nav-link:hover{
    border-radius: 0px;
  }
}


.hero {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 515px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.footer {
  text-decoration: underline  ;
  padding: 0px;
  text-align:end ;
}
section {
  padding: 50px;
  position: relative;
}
.section-color {
  background-color: var(--primary-color);
  color: white;
}
.section-title {
  font-size: 150px;
}
.section-subtitle {
  font-size: 50px;
  display: inline-block;
  position: relative;
  user-select: none;
}
.section-subtitle:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.section-subtitle:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.section-subtitle2 {
  font-size: 30px;
  user-select: none;
}
.section-down-arrow {
  position: absolute;
  top: 0px;
  width: 100%;
  height: var(--primary-hight);
}
.section-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article {
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  transition: all .2s ease-in;
  border-radius: 20px;
}
.article:hover {
  scale: 0.9;
  box-shadow: 0 0 7px 0 var(--primary-color);
  border-radius: 20px;
}
@media(max-width:760px){
  .article:hover{
    scale: 1;
    box-shadow: none;
  }
}
.article .article-icon {
  font-size: 4rem;
  margin-bottom: 10px;
}
.section-gray {
  background-color: white;
}
.level-slider {
  background-color: white;
}
.level-slider img {
  max-width: 740px;
  max-height: 480px;
}
.level-slider-item-container {
  padding: var(--primary-padding);
}
.level-slider-item h3 {
  font-size: var(--text-font-title);
  color: var(--primary-color);
}
.level-slider p {
  font-size: var(--text-font-size);
  color: black;
}
.hero{
  font-weight:bold;
  user-select: none;
}
.dropdown-menu{
  background-color: #f3f3f3;
  border: none;
}
.links {
  display: inline-block;
  position: relative;
  color: #0087ca;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}
.links:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.article{
  background-color: #f3f3f3;
}

.dropdown-item:hover{
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
.dropdown-menu{
  border-radius: 20px;
}
.level-slider-item{
  margin-right: 20px
}
.p-header{
  margin-top: 20px;
  text-align: center;
}
.p-txt{
  margin-left: 20px;
  text-align: center;
}
.page-logo:hover {
  animation: spin 3s linear infinite;
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.level-slider .btn{
  margin-bottom: 10px;
}
.news-h{
  font-size: 60px;
  position: relative;
  text-align: center;
}
.news-h:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.75s ease-out;
}
@media(max-width:760px){
  .news-h{
    display: none;
    font-size: 20px;
  }
}
.news-h:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.card{
  width: 18rem;
  margin-top: 30px;
  transition: all .3s ease-in;
  border-radius: 20px;

}
.card-img-top{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card:hover {
  scale: 1.1;
  box-shadow: 0 0 7px 0 var(--primary-color);
  border-radius: 20px;
}
@media(max-width:760px){
  .card:hover{
    scale:1;
    box-shadow: none;
  }
}
.card-title{
  text-align: center;
}
.card-text{
  text-align: center;
}
.p-img{
  margin-left: 10px;
  border-radius: 20px;
  transition: all .2s ease-in;
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: cover;
}
.p-img:hover{
  scale: 0.9;
  border-radius: 30px;
}
.navbar-custom{
  background-color: #f3f3f3;
}
.git-h{
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: 20px;
}
.git-h:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.75s ease-out;
}
.git-h:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#time {
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.time-hover {
  font-size: 32px;
  background-color: #d1d1d1;
}
.priv-pol{
  [data-custom-class='body'], [data-custom-class='body'] * {
    background: transparent !important;
  }
[data-custom-class='title'], [data-custom-class='title'] * {
    font-family: Poppins !important;
font-size: 26px !important;
color: #000000 !important;
  }
[data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
    font-family: Poppins !important;
color: #595959 !important;
font-size: 14px !important;
  }
[data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
    font-family: Poppins !important;
font-size: 19px !important;
color: #000000 !important;
  }
[data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
    font-family: Poppins !important;
font-size: 17px !important;
color: #000000 !important;
  }
[data-custom-class='body_text'], [data-custom-class='body_text'] * {
    color: #595959 !important;
font-size: 14px !important;
font-family: Poppins !important;
  }
[data-custom-class='link'], [data-custom-class='link'] * {
    color: #3030F1 !important;
font-size: 14px !important;
font-family: Poppins !important;
word-break: break-word !important;
  }
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.h3-g{
  margin-left: 30px;
}
.h5-g{
  margin-left: 50px;
}
.Note-index{
  text-align: center;
  margin-top: 50px;
}
.btc{
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
}
.btc-link{
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
}
.alert {
  display: none;
  margin-top: 10px;
  text-align: center;
}
.alert.show {
  display: none;
}
.site-footer{
  background-color:White;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small{
  margin:20px 0
}
.site-footer h6{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a{
  color:#737373;
}
.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footer-links{
  padding-left:0;
  list-style:none
}
.footer-links li{
  display:block
}
.footer-links a{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li{
  display:inline-block
}
.site-footer .social-icons{
  text-align:right
}
.site-footer .social-icons a{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text{
  margin:0
}
@media (max-width:991px){
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px){
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover{
  background-color:#3b5998
}
.social-icons a.twitter:hover{
  background-color:#00aced
}
.social-icons a.linkedin:hover{
  background-color:#007bb6
}
.social-icons a.gmaps:hover{
  background-color:#1ea362
}
@media (max-width:767px){
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.maps{
  cursor: pointer;
  text-decoration: underline;
}
.blank-space{
  height: 50px;
}
@media(max-width:760px){
  #time{
    display:none;
  }
  .navbar-toggler{
    margin-left: 50%;
  }
}
.translate{
  display: none;
}
.useful-links-headers{
  text-align: center;
  margin-top: 20px;
}
.pfp{
  display: none
}
@media(max-width:760px){
  .note-index{
    display: none;
  }
}
.login-box{
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 30%;
  margin-left: 30%;
}
.login-text{
  margin-top: 20px
}
.google-login{
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 25%;
  margin-left: 25%;
  height: 50px
}
